html,body{
    background-color:#0D0D0D;
    color:#FFFFFF;
}

::-webkit-scrollbar {
  width: 8px;
}
  ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius:100px;
}
  ::-webkit-scrollbar-thumb {
  background: #303336; 
    border-radius:100px;
}
::-webkit-scrollbar-thumb:hover {
  
  background: #555; 
} 



.pattern{
    position: relative;
}
.pattern::after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.2;
  background: #303336b1 url('pattern.png') no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: overlay;
}
